<ng-template #noDetails>
  <p class="text-center text-2xl text-gray-700 py-24">
    No se encontraron jornadas activas o cajas pendientes por cerrar
  </p>
</ng-template>
<ng-template #loadingPage><app-loading /></ng-template>
<ng-container *ngIf="!loading(); else loadingPage">
  <ul
    class="grid grid-cols-[repeat(auto-fit,_minmax(16rem,_1fr))] gap-5"
    *ngIf="length() > 0; else noDetails"
  >
    <li
      *ngFor="
        let detail of cashRegisterDetails()?.currentCashRegisters;
        index as i
      "
    >
      <app-adm-item-card
        [showDropdown]="currentIndex() === i"
        [options]="currentOptions"
        [finalBalance]="
          detail.finalBase! > 0 ? detail.finalBase! : detail.initialBase
        "
        [status]="detail.cashRegister.status"
        (setSelectedItem)="setSelectedCashRegisterDetail(i, 'current')"
        class="dropdown"
        >Caja {{ detail.cashRegister.numeral }}</app-adm-item-card
      >
    </li>
    <li
      *ngFor="
        let detail of cashRegisterDetails()?.pendingCashRegisters;
        index as i
      "
    >
      <app-adm-item-card
        [showDropdown]="pendingIndex() === i"
        [options]="pendingOptions"
        [finalBalance]="
          detail.finalBase! > 0 ? detail.finalBase! : detail.initialBase
        "
        [pending]="true"
        (setSelectedItem)="setSelectedCashRegisterDetail(i, 'pending')"
        class="pending-dropdown"
        >Caja {{ detail.cashRegister.numeral }}</app-adm-item-card
      >
    </li>
    <li
      *ngFor="
        let detail of cashRegisterDetails()?.remainingCashRegisters;
        index as i
      "
    >
      <app-adm-item-card
        [showDropdown]="remainingIndex() === i"
        [options]="remainingOptions"
        [finalBalance]="detail.finalBase ?? 0"
        (setSelectedItem)="setSelectedCashRegisterDetail(i, 'remaining')"
        class="remaining-dropdown"
      >
        Caja {{ detail.cashRegister.numeral }}
      </app-adm-item-card>
    </li>
  </ul>
</ng-container>
