<app-header-title
  hTitle="Cajas Fuertes"
  hDescription="Administra todas tus cajas fuertes"
/>
<div class="flex flex-col gap-10">
  <section class="border-2 border-neutral-300 rounded-md px-5 pt-5 pb-6">
    <h3 class="text-xl text-gray-700 mb-3">Registrar nueva caja fuerte</h3>
    <app-new-safe-form />
  </section>
  <section>
    <h3 class="text-2xl text-gray-700 font-medium mb-3">
      Listado de cajas fuertes registradas
    </h3>
    <div class="card overflow-x-auto">
      <app-safes-table />
    </div>
  </section>
</div>
