<app-my-stats-header
  [currentCashRegister]="currentCashRegister()"
  [currentCashRegisterIndex]="currentCashRegisterIndex()"
  [myCashRegisters]="myCashRegisters()"
  (handleSelectedCashRegister)="handleSelectedCashRegister($event)"
/>
<hr class="border-neutral-300 mt-24 mb-7" />
<p class="text-center text-gray-700 font-medium text-xl mb-7">
  Transacciones:
  <span class="text-violet-700">{{
    currentCashRegister()?.transactionsAmount
  }}</span>
</p>
<div class="flex items-center justify-center gap-7">
  <app-button
    type="button"
    [loading]="breakLoading()"
    (click)="handleTakeBreak()"
    *ngIf="myCurrentCashRegisterBreakTitle() !== ''"
  >
    {{ myCurrentCashRegisterBreakTitle() }}
  </app-button>
  <app-button *ngIf="showCloseButton()" type="button" (click)="close()">
    Cerrar caja
  </app-button>
</div>
