<app-header-title headerTitle="Saldos"></app-header-title>
<main>
  <section class="platforms-page">
    <header class="platforms-page__header">
      <h2>Listado de plataformas</h2>
      <p>
        Selecciona la plataforma correspondiente para añadir su saldo inicial y
        final.
      </p>
    </header>
    <section class="info">
      <header>
        <h2>Vaya... ¿aún no haz iniciado los saldos de hoy?</h2>
        <p>
          Don't worry, be happy! usa el <strong>botón de abajo</strong> para
          iniciarlos
        </p>
      </header>
      <button>Iniciar Saldos</button>
    </section>
    <div class="container" style="display: none">
      <article class="card" *ngFor="let balance of balances">
        <header>
          <h3>{{ balance.platformName }}</h3>
        </header>
        <section>
          <p>
            <span>Saldo Inicial</span>
            <span>${{ balance.initialBalance }}</span>
          </p>
          <p>
            <span>Saldo Final</span>
            <span>${{ balance.finalBalance }}</span>
          </p>
        </section>
      </article>
    </div>
  </section>
</main>
<app-loading [loading]="balancesStatus === 'loading'"></app-loading>
