main {
  min-height: calc(100vh - var(--little-nav-h) - 2rem);
}

.platforms-page,
.platforms-page__header {
  display: flex;
  flex-direction: column;
}

.platforms-page {
  gap: 5rem;
}

.platforms-page__header {
  gap: 1rem;
  padding: 0 2rem 2rem;
  border-bottom: 2px solid var(--bg-200);
}

.platforms-page__header h2 {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--text-100);
}

.platforms-page__header p {
  font-size: 1.7rem;
  color: var(--text-200);
}

.info,
.container {
  padding: 0 2rem 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  text-wrap: pretty;
  background-color: var(--bg-200);
  width: fit-content;
  margin: auto;
  padding: 2.5rem 4rem;
  border-radius: 2rem;
}

.info header h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.4rem;
}

.info header p {
  font-size: 1.8rem;
}

.info .divider {
  width: 100%;
  height: 1px;
  background-color: var(--accent-100);
}

.info button {
  font-size: 2rem;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.card {
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: var(--bg-200);
  transition: all cubic-bezier(1, 0, 0, 1) 100ms;
}

.card header {
  margin-bottom: 2rem;
}

.card header h3 {
  font-size: 2rem;
}

.card section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card section p {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}

.card:hover {
  scale: 1.04;
  cursor: pointer;
  box-shadow: 0 0 0.25rem var(--accent-200);
}

.card:active {
  scale: 0.95;
  box-shadow: 0 0 0.5rem var(--primary-100);
}
