<app-header-title headerTitle="Saldos"></app-header-title>
<main>
  <section class="platforms-page">
    <header class="platforms-page__header">
      <h2>Listado de plataformas</h2>
      <p>
        Selecciona la plataforma correspondiente para añadir su saldo inicial y
        final.
      </p>
    </header>
    <div class="container">
      <article class="card" *ngFor="let balance of balances">
        <header>
          <h3>{{ balance.platformName }}</h3>
        </header>
        <section>
          <p>
            <span>Saldo Inicial</span>
            <span>${{ balance.initialBalance }}</span>
          </p>
          <p>
            <span>Saldo Final</span>
            <span>${{ balance.finalBalance }}</span>
          </p>
        </section>
      </article>
    </div>
  </section>
</main>
<app-loading [loading]="balancesStatus === 'loading'"></app-loading>
