form {
  display: flex;
  justify-content: space-around;
}

form * {
  font-family: inherit;
  font-size: 0.75rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.2rem;
  width: 200px;
  border: 0.15rem solid var(--darker-primary-color);
}

button {
  font-weight: 600;
  background-color: var(--background-color);
  color: var(--primary-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--darker-primary-color);
  color: var(--background-color);
}
