<app-base-calculator
  [cashRegisterId]="cashRegisterId"
  (setBase)="emitBase($event)"
/>
<div class="w-full flex items-center justify-center gap-5 mt-5">
  <app-icon-button
    type="button"
    color="neutral"
    [icon]="faReturn"
    (click)="emitReturn()"
    >Regresar</app-icon-button
  >
  <app-button type="button" color="neutral" (click)="handleShowSideBar()"
    >Añadir observación</app-button
  >
  <app-button type="button" (click)="emitRegister()">Registrar base</app-button>
</div>
<aside
  class="fixed w-72 top-16 right-0 bottom-0 bg-white drop-shadow-xl py-5 ease-in duration-200"
  [ngClass]="{ 'translate-x-full': !showSideBar() }"
>
  <h4 class="text-xl text-gray-800 font-medium px-5 mb-3">Observación</h4>
  <app-base-observation-form (setObservation)="emitObservation($event)" />
</aside>
