<ng-template #noDetails>
  <p class="text-center text-2xl text-gray-700 py-24">
    No se encontraron cajas fuertes activas
  </p>
</ng-template>
<ul
  class="grid grid-cols-[repeat(auto-fit,_minmax(16rem,_1fr))] gap-5"
  *ngIf="safeDetails().length > 0; else noDetails"
>
  <li *ngFor="let detail of safeDetails(); index as i">
    <app-adm-item-card
      [showDropdown]="showDropdown() === i"
      [options]="options"
      [finalBalance]="detail.finalBase"
      (setSelectedItem)="setSelectedSafeDetail(i)"
      class="dropdown"
      >Caja {{ detail.safe.numeral }}</app-adm-item-card
    >
  </li>
</ul>
<app-update-base-modal [safeDetail]="selectedSafeDetail()" />
