<header class="pb-7 px-5">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl text-violet-950 font-medium uppercase">
      Depósitos Bancarios
    </h2>
    <app-icon-button
      type="button"
      [icon]="faAdd"
      (click)="showForm.set(true)"
      [disabled]="showForm()"
    >
      Nuevo depósito
    </app-icon-button>
  </div>
  <div
    class="duration-300"
    [ngClass]="
      showForm() ? 'mt-5 opacity-100 visible' : 'opacity-0 invisible h-0'
    "
  >
    <app-new-bank-deposit-form (onCancel)="showForm.set(false)" />
  </div>
  <hr class="mt-7 border-violet-300" />
</header>
<div class="px-5 py-7">
  <section class="px-7 py-5 max-w-md border-2 border-violet-300 rounded-xl">
    <h3 class="home-subtitle">Listado de depósitos</h3>
    <ul class="flex flex-col gap-7 mt-4 max-h-[22.5rem] p-1 overflow-y-auto">
      <li *ngFor="let bankDeposit of bankDeposits()">
        <app-bank-deposit-item [bankDeposit]="bankDeposit" />
      </li>
    </ul>
  </section>
</div>
