<header class="pb-7 px-5">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl text-violet-950 font-medium uppercase">
      Depósitos Bancarios
    </h2>
    <app-icon-button
      type="button"
      [icon]="faAdd"
      (click)="showForm.set(true)"
      [disabled]="showForm()"
    >
      Nuevo depósito
    </app-icon-button>
  </div>
  <div
    class="duration-300"
    [ngClass]="
      showForm() ? 'mt-5 opacity-100 visible' : 'opacity-0 invisible h-0'
    "
  >
    <app-new-bank-deposit-form
      [form]="newBankDepositForm"
      [loading]="newBankDepositLoading()"
      (onSubmit)="onNewBankDeposit()"
      (onCancel)="showForm.set(false)"
    />
  </div>
  <hr class="mt-7 border-violet-300" />
</header>
<div class="px-5 py-7">
  <ng-template #noBankDeposits>
    <div
      class="border-2 border-violet-200 rounded-xl flex items-center justify-center w-full h-48"
    >
      <p class="text-gray-500 text-2xl text-center font-medium">
        Parece que aún no se han abierto depósitos
      </p>
    </div>
  </ng-template>
  <div
    #list
    *ngIf="bankDeposits().length > 0; else noBankDeposits"
    class="grid grid-cols-2 gap-12"
  >
    <section class="px-7 py-5 border-2 border-violet-300 rounded-xl">
      <h3 class="home-subtitle">Listado de depósitos</h3>
      <ul
        class="flex flex-col gap-7 mt-4 max-h-[22.5rem] py-1 px-1.5 overflow-y-auto"
      >
        <li *ngFor="let bankDeposit of bankDeposits()">
          <app-bank-deposit-item
            [bankDeposit]="bankDeposit"
            (click)="setSelectedBankDeposit(bankDeposit)"
          />
        </li>
      </ul>
    </section>
    <section>
      <div
        class="border-2 border-violet-200 rounded-xl flex items-center justify-center w-full h-64"
        *ngIf="!selectedBankDeposit(); else details"
      >
        <p class="text-gray-500 text-2xl text-center font-medium text-balance">
          Selecciona un depósito para aportar o actualizar su estado
        </p>
      </div>
      <ng-template #details>
        <app-new-depositor-form
          *ngIf="!alreadyDeposited()"
          [form]="createDepositorForm"
          [loading]="createDepositorLoading()"
          (onSubmit)="onEnrollDepositor()"
        />
      </ng-template>
    </section>
  </div>
</div>
