<app-my-stats-header
  [currentCashRegister]="currentCashRegister()"
  [currentCashRegisterIndex]="currentCashRegisterIndex()"
  [myCashRegisters]="myCashRegisters()"
  (handleSelectedCashRegister)="handleSelectedCashRegister($event)"
/>
<app-my-actions-footer
  [breakLoading]="breakLoading()"
  [refreshLoading]="refreshLoading()"
  [showCloseButton]="showCloseButton()"
  [myCurrentCashRegisterBreakTitle]="myCurrentCashRegisterBreakTitle()"
  (handleTakeBreak)="handleTakeBreak()"
  (refresh)="refresh()"
  (close)="close()"
/>
