<form [formGroup]="form" (ngSubmit)="emitOnSubmit()">
  <app-fieldset legend="Nuevo depósito">
    <div class="control">
      <label for="collector">Recolector</label>
      <input
        type="text"
        id="collector"
        class="input"
        formControlName="collector"
        autocomplete="off"
      />
    </div>
    <label
      class="block text-yellow-700 text-xs sm:text-sm md:text-base font-light text-pretty"
    >
      <input type="checkbox" (change)="toggleExpensive()" />
      Marca esta casilla si el envío genera algún costo
    </label>
    <div class="grid grid-cols-2 gap-5" *ngIf="expensive()">
      <div class="control">
        <label for="expenseNote">Razón del gasto</label>
        <input
          type="text"
          id="expenseNote"
          class="input"
          formControlName="expenseNote"
          autocomplete="off"
        />
      </div>
      <div class="control">
        <label for="expenseValue">Valor del gasto</label>
        <input
          type="text"
          id="expenseValue"
          class="input"
          formControlName="expenseValue"
          autocomplete="off"
          appCurrencyFormat
        />
      </div>
    </div>
    <div class="flex items-center justify-between gap-5">
      <app-icon-button
        color="neutral"
        [icon]="faCancel"
        type="button"
        (click)="emitOnCancel()"
      />
      <app-button type="submit" [loading]="loading">
        Abrir nuevo depósito
      </app-button>
    </div>
  </app-fieldset>
</form>
