<form
  class="w-full px-5 flex flex-col items-center justify-center gap-5"
  [formGroup]="baseForm"
  (ngSubmit)="emitBase()"
>
  <div class="flex flex-wrap items-start gap-12">
    <section class="card max-w-md">
      <header class="mb-5">
        <h3 class="text-center text-gray-700 text-2xl font-medium">Billete</h3>
      </header>
      <div
        class="grid grid-cols-3 items-center gap-5 text-center text-gray-700 font-medium px-5 border-b-2 border-gray-300"
      >
        <h4>Denominación</h4>
        <h4 class="border-l-2 border-r-2 border-gray-300">Cantidad</h4>
        <h4>Total</h4>
      </div>
      <div
        class="grid grid-cols-3 items-center gap-5 px-5 text-right border-b-2 border-gray-300"
        *ngFor="let cash of cashBase().slice(0, 6)"
      >
        <label [for]="cash.title" class="text-gray-700 font-medium">{{
          cash.value | currency : "Symbol" : "$" : "0.00"
        }}</label>
        <input
          type="text"
          [id]="cash.title"
          placeholder="0"
          class="cash-amount-input"
          [formControlName]="cash.title"
          [disabled]="loading()"
        />
        <span class="text-gray-700">{{
          cash.total | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
      <div class="grid grid-cols-3 items-center gap-5 text-right px-5">
        <label for="total" class="text-gray-700 font-medium">Total</label>
        <input
          type="text"
          id="total"
          class="cash-amount-input font-medium"
          [value]="billetAmount()"
          disabled
        />
        <span class="text-gray-800 font-medium">{{
          billetTotal() | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
    </section>
    <section class="card max-w-md">
      <header class="mb-5">
        <h3 class="text-center text-gray-700 text-2xl font-medium">Moneda</h3>
      </header>
      <div
        class="grid grid-cols-3 items-center gap-5 text-center text-gray-700 font-medium px-5 border-b-2 border-gray-300"
      >
        <h4>Denominación</h4>
        <h4 class="border-l-2 border-r-2 border-gray-300">Cantidad</h4>
        <h4>Total</h4>
      </div>
      <div
        class="grid grid-cols-3 items-center gap-5 px-5 text-right border-b-2 border-gray-300"
        *ngFor="let cash of cashBase().slice(6, 11)"
      >
        <label [for]="cash.title" class="text-gray-700 font-medium">{{
          cash.value | currency : "Symbol" : "$" : "0.00"
        }}</label>
        <input
          type="text"
          [id]="cash.title"
          placeholder="0"
          class="cash-amount-input"
          [formControlName]="cash.title"
          [disabled]="loading()"
        />
        <span class="text-gray-700">{{
          cash.total | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
      <div class="grid grid-cols-3 items-center gap-5 text-right px-5">
        <label for="total" class="text-gray-700 font-medium">Total</label>
        <input
          type="text"
          id="total"
          class="cash-amount-input font-medium"
          [value]="coinAmount()"
          disabled
        />
        <span class="text-gray-800 font-medium">{{
          coinTotal() | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
    </section>
  </div>
  <input type="submit" value="Calcular" class="sr-only" />
</form>
