<app-header-title
  hTitle="Bienvenido"
  hDescription="Visualiza y actualiza todos tus productos"
/>
<ul class="container">
  <li>
    <app-product-card
      pTitle="Plataformas"
      [pIcon]="faPlatforms"
      pRoute="../plataformas"
    />
  </li>
  <li>
    <app-product-card
      pTitle="Cajas Registradoras"
      [pIcon]="faCashRegister"
      pRoute="../cajas-registradoras"
    />
  </li>
  <li>
    <app-product-card
      pTitle="Cajas Fuertes"
      [pIcon]="faCashSafe"
      pRoute="../cajas-fuertes"
    />
  </li>
  <li>
    <app-product-card pTitle="Usuarios" [pIcon]="faUser" pRoute="../usuarios" />
  </li>
</ul>
