<section
  *ngIf="!open()"
  class="h-[calc(100vh-4rem)] flex items-center justify-center"
>
  <div class="">
    <h2 class="mb-3 text-3xl text-gray-700 font-medium">
      Parece no tienes cajas
    </h2>
    <p class="mb-5 text-lg text-gray-700">
      Abre una caja registradora para hacer transacciones
    </p>
    <app-button type="button" (click)="goToOpenCash()">Abrir caja</app-button>
  </div>
</section>
<nav>
  <ul>
    <li>
      <a>Transacciones</a>
    </li>
    <li>
      <a>Gastos</a>
    </li>
    <li><a>Transferencias</a></li>
  </ul>
</nav>
