<form class="flex items-center gap-5">
  <div class="flex items-center gap-1">
    <input type="radio" id="all" value="all" name="enabled" checked />
    <label for="all" class="text-gray-700">Todos</label>
  </div>
  <div class="flex items-center gap-1">
    <input type="radio" id="enabled" value="enabled" name="enabled" />
    <label for="enabled" class="text-gray-700">Habilitado</label>
  </div>
  <div class="flex items-center gap-1">
    <input type="radio" id="disabled" value="disabled" name="enabled" />
    <label for="disabled" class="text-gray-700">Deshabilitado</label>
  </div>
</form>
