<form class="form flex-row">
  <div class="control-row">
    <input type="radio" id="all" value="all" name="enabled" checked />
    <label for="all" class="font-normal">Todos</label>
  </div>
  <div class="control-row">
    <input type="radio" id="enabled" value="enabled" name="enabled" />
    <label for="enabled" class="font-normal">Habilitado</label>
  </div>
  <div class="control-row">
    <input type="radio" id="disabled" value="disabled" name="enabled" />
    <label for="disabled" class="font-normal">Deshabilitado</label>
  </div>
</form>
