<article class="card flex flex-col gap-5 items-center">
  <header>
    <h3 class="font-medium text-gray-700 text-lg sm:text-xl md:text-2xl">
      Caja {{ cashRegister.numeral }}
    </h3>
  </header>
  <section>
    <p class="text-gray-900 text-opacity-85 text-center text-sm sm:text-base">
      {{ cashRegister.description }}
    </p>
  </section>
  <section>
    <span
      class="text-base md:text-lg font-medium"
      [ngClass]="{
        'text-green-700': cashRegister.status === 'AVAILABLE',
        'text-red-700': cashRegister.status === 'OCCUPIED',
        'text-gray-700': cashRegister.status === 'DISABLED'
      }"
      >{{ cashRegister.status | cashRegisterStatus }}</span
    >
  </section>
  <footer class="w-full">
    <app-button
      type="button"
      [disabled]="cashRegister.status !== 'AVAILABLE'"
      (click)="clickHandler()"
    >
      {{ actionName }}
    </app-button>
  </footer>
</article>
