<app-header-title
  [hTitle]="fullName()"
  hDescription="Visualiza y administra al usuario"
  [return]="true"
/>
<app-detail-layout>
  <app-detail-wrapper headline="Jornadas" [loading]="loading()">
    <app-journeys-table />
  </app-detail-wrapper>
  <form>
    <label for="month" class="sr-only">Mes y Año</label>
    <input
      type="month"
      id="month"
      class="w-full input"
      [value]="formatDate(date())"
      (change)="onChangeMonth($event)"
    />
  </form>
</app-detail-layout>
