<form class="form" [formGroup]="form" (ngSubmit)="emitOnSubmit()">
  <div class="control">
    <label for="temp-code">Ingresa el código temporal</label>
    <input
      type="password"
      id="temp-code"
      class="input"
      autocomplete="off"
      formControlName="tempCode"
    />
  </div>
  <div class="control">
    <label for="new-password">Contraseña nueva</label>
    <input
      type="password"
      id="new-password"
      class="input"
      autocomplete="off"
      formControlName="newPassword"
    />
  </div>
  <div class="control">
    <label for="confirm-new-password">Confirma tu contraseña nueva</label>
    <input
      type="password"
      id="confirm-new-password"
      class="input"
      autocomplete="off"
      formControlName="confirmPassword"
    />
  </div>
  <app-button type="submit" [loading]="loading">Confirmar cambio</app-button>
</form>
