<app-loading *ngIf="loading(); else page" />
<ng-template #page>
  <app-header-title
    [hTitle]="title()"
    hDescription="Podrás ver un listado de movimientos realizados por la Caja Fuerte"
  />
  <ul
    class="w-full max-w-4xl m-auto grid grid-cols-[repeat(auto-fill,_minmax(14rem,_1fr))] gap-6"
  >
    <li *ngFor="let detail of details()">
      <article
        class="card text-gray-700 hover:scale-[1.02] duration-200 cursor-pointer"
        (click)="openModal(detail.id)"
      >
        <h3 class="text-2xl text-center font-medium mb-3">
          {{ detail.createdDate | date : "dd/MM/yyyy" }}
        </h3>
        <p class="text-left font-medium mb-0.5">Saldo Inicial</p>
        <p
          class="text-right font-medium text-violet-700 text-lg rounded-xl bg-gray-100 p-0.5 mb-1"
        >
          {{ detail.initialBase | currency : "symbol" : "$" : "0.00" }}
        </p>
        <p class="text-left font-medium mb-0.5">Saldo Final</p>
        <p
          class="text-right font-medium text-violet-700 text-lg rounded-xl bg-gray-100 p-0.5 mb-1"
        >
          {{ detail.finalBase | currency : "symbol" : "$" : "0.00" }}
        </p>
      </article>
    </li>
  </ul>
</ng-template>
<app-safe-movements-modal />
