<app-auth-card
  [headline]="title()"
  [description]="subtitle()"
  action="Volver al inicio"
  route="iniciar-sesion"
>
  <ng-container *ngIf="!requested(); else newPass">
    <app-request-change-password-form
      [form]="requestChangePasswordForm"
      [loading]="requestedLoading()"
      (onSubmit)="requestChangePassword()"
    />
  </ng-container>
  <ng-template #newPass>
    <app-change-password-form
      [form]="changePasswordForm"
      [loading]="changePasswordLoading()"
      (onSubmit)="changePassword()"
    />
  </ng-template>
</app-auth-card>
