.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  vertical-align: middle;
}

.actions span {
  cursor: pointer;
}

.actions span:hover {
  transform: scale(1.1);
}

.actions span:active {
  transform: scale(0.9);
}

th:first-of-type,
td:first-of-type {
  width: 10%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

td.right::before {
  content: "$";
}
