<app-detail-wrapper headline="Jornada" [loading]="loading()">
  <ul class="flex flex-col gap-1">
    <app-detail-stat-inline
      headline="Número de Caja"
      [stat]="reports()?.reports?.cashRegisterDetail?.cashRegister?.numeral"
      [pipe]="undefined"
    />
    <app-detail-stat-inline
      headline="Estado de Caja"
      [stat]="reports()?.reports?.cashRegisterDetail?.cashRegister?.status"
      pipe="cashRegister"
    />
    <app-detail-stat-inline
      headline="Transacciones"
      [stat]="reports()?.reports?.transactionsAmount"
      [pipe]="undefined"
    />
    <app-detail-stat-inline
      headline="Depósitos"
      [stat]="reports()?.reports?.deposits"
      pipe="currency"
    />
    <app-detail-stat-inline
      headline="Retiros"
      [stat]="reports()?.reports?.withdrawals"
      pipe="currency"
    />
    <app-detail-stat-inline
      headline="Base Inicial"
      [stat]="reports()?.reports?.cashRegisterDetail?.initialBase"
      pipe="currency"
    />
    <app-detail-stat-inline
      headline="Base Final"
      [stat]="reports()?.reports?.cashRegisterDetail?.finalBase"
      pipe="currency"
    />
    <li
      class="text-sm sm:text-base md:text-lg text-gray-700 px-2 py-1 rounded-lg hover:bg-violet-50"
    >
      Observación:
      <span class="text-pretty text-gray-600">
        <ng-container
          *ngIf="
            reports()?.reports?.cashRegisterDetail?.baseObservation !== '';
            else noObservation
          "
        >
          {{ reports()?.reports?.cashRegisterDetail?.baseObservation }}
        </ng-container>
        <ng-template #noObservation> Sin observaciones </ng-template>
      </span>
    </li>
    <app-detail-stat-inline
      headline="Entrada"
      [stat]="reports()?.reports?.cashRegisterDetail?.initialWorking"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Almuerzo Entrada"
      [stat]="reports()?.reports?.cashRegisterDetail?.initialBreak"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Almuerzo Salida"
      [stat]="reports()?.reports?.cashRegisterDetail?.finalBreak"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Salida"
      [stat]="reports()?.reports?.cashRegisterDetail?.finalWorking"
      pipe="time"
    />
  </ul>
</app-detail-wrapper>
