<app-detail-wrapper headline="Jornada" [loading]="loading()">
  <ul class="flex flex-col gap-1">
    <app-detail-stat-inline
      headline="Transacciones"
      [stat]="reports()?.reports?.transactionsAmount"
      [pipe]="undefined"
    />
    <app-detail-stat-inline
      headline="Ganancias"
      [stat]="reports()?.reports?.earnings"
      pipe="currency"
    />
    <app-detail-stat-inline
      headline="Entrada"
      [stat]="reports()?.reports?.cashRegisterDetail?.initialWorking"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Almuerzo Entrada"
      [stat]="reports()?.reports?.cashRegisterDetail?.initialBreak"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Almuerzo Salida"
      [stat]="reports()?.reports?.cashRegisterDetail?.finalBreak"
      pipe="time"
    />
    <app-detail-stat-inline
      headline="Salida"
      [stat]="reports()?.reports?.cashRegisterDetail?.finalWorking"
      pipe="time"
    />
  </ul>
</app-detail-wrapper>
