<form>
  <div class="grid grid-cols-5 place-items-center">
    <div class="control col-span-2 w-full">
      <label for="sender">Recibe</label>
      <select id="sender">
        <option [value]="user.id" *ngFor="let user of users()">
          {{ user.name }} {{ user.lastName }}
        </option>
      </select>
    </div>
    <span class="col-span-1">Invertir</span>
    <div class="control col-span-2 w-full">
      <label for="receiver">Entrega</label>
      <select id="receiver">
        <option [value]="user.id" *ngFor="let user of users()">
          {{ user.name }} {{ user.lastName }}
        </option>
      </select>
    </div>
  </div>
  <div class="control">
    <label for="value">Valor</label>
    <input type="number" id="value" />
  </div>
  <app-button type="submit" class="mt-3">Guardar</app-button>
</form>
