<section>
  <header class="mb-3 flex items-center justify-between">
    <app-home-subtitle headline="Mis jornadas" />
    <form>
      <input
        type="month"
        class="input"
        [value]="formatMonth(today)"
        (change)="onChangeMonth($event)"
        [max]="formatMonth(today)"
      />
    </form>
  </header>
  <app-journeys-table />
  <hr class="border-neutral-300 my-2.5" />
  <app-journey-stats [journeys]="journeys()" />
  <hr class="border-neutral-300 mt-2.5 mb-4" />
  <div class="w-full flex items-center justify-center">
    <app-icon-button
      [icon]="faExcel"
      type="button"
      color="neutral"
      (click)="exportToExcel()"
    >
      Exportar a Excel
    </app-icon-button>
  </div>
</section>
