table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead {
  color: #3f3f3f;
  border-bottom: 2px solid #124c59;
}

tbody {
  color: #2f2f2f;
  font-size: 0.9rem;
}

th,
td {
  text-align: left;
  padding: 0.8rem 1.2rem;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr:hover {
  background-color: #dfdfdf;
}
