<app-detail-wrapper
  [headline]="headline()"
  [loading]="loading()"
  [return]="true"
>
  <ul
    class="grid grid-cols-[repeat(auto-fit,_minmax(14rem,_1fr))] gap-x-7 gap-y-5 mt-5"
  >
    <app-main-stat-card
      headline="Ganancias"
      [stat]="reports()?.reports?.earnings"
      color="green"
    />
    <app-main-stat-card
      headline="Gastos"
      [stat]="reports()?.reports?.expenses"
      color="red"
    />
    <app-main-stat-card
      headline="Saldo en Caja"
      [stat]="reports()?.reports?.balance"
      color="violet"
    />
    <app-main-stat-card
      headline="Descuadre"
      [stat]="discrepancy()"
      [color]="discrepancy() >= 0 ? 'green' : 'red'"
    />
  </ul>
</app-detail-wrapper>
