<app-my-stats-header
  [currentCashRegister]="currentCashRegister()"
  [currentCashRegisterIndex]="currentCashRegisterIndex()"
  [myCashRegisters]="myCashRegisters()"
  (handleSelectedCashRegister)="handleSelectedCashRegister($event)"
/>
<div class="mt-32"></div>
<div class="flex items-center justify-center gap-7">
  <app-button
    type="button"
    [loading]="breakLoading()"
    (click)="handleTakeBreak()"
    *ngIf="myCurrentCashRegisterBreakTitle() !== ''"
  >
    {{ myCurrentCashRegisterBreakTitle() }}
  </app-button>
  <app-button *ngIf="showCloseButton()" type="button" (click)="close()">
    Cerrar caja
  </app-button>
</div>
