h2 {
  margin: 0;
}

header {
  color: var(--background-color);
  padding: 0.7rem 3.5rem;
  background: var(--primary-color-700);
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  margin: 2rem 0 4rem 0;
  width: 70%;
  max-width: 500px;
}
