<header>
  <button type="button" class="menu">
    <span class="material-symbols-outlined"> menu </span>
  </button>
  <button type="button" class="account">
    <span>ID 7 - ACCOUNT NAME</span>
    <span class="material-symbols-outlined"> expand_more </span>
  </button>
</header>
<nav>
  <ul>
    <li>
      <a routerLink="../dashboard">
        <span class="material-symbols-outlined"> dashboard </span>
        Panel de usuario
      </a>
    </li>
    <li>
      <a routerLink="../platforms">
        <span class="material-symbols-outlined"> lists </span>
        Plataformas
      </a>
    </li>
    <li>
      <a routerLink="../campuses">
        <span class="material-symbols-outlined"> holiday_village </span>
        Sedes
      </a>
    </li>
  </ul>
  <div>
    <hr />
    <a>
      <span class="material-symbols-outlined"> logout </span>
      Cerrar sesión
    </a>
  </div>
</nav>
