header h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

#login-form {
  width: 85%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem 1rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}
