<ul class="grid grid-cols-[repeat(auto-fit,_minmax(16rem,_1fr))] gap-5">
  <li
    *ngFor="
      let detail of cashRegisterDetails()?.currentCashRegisters;
      index as i
    "
  >
    <app-adm-item-card
      [showDropdown]="currentIndex() === i"
      [options]="options"
      [finalBalance]="
        detail.finalBase! > 0 ? detail.finalBase! : detail.initialBase
      "
      [status]="detail.cashRegister.status"
      (setSelectedItem)="setSelectedCashRegisterDetail(i, false)"
      class="dropdown"
      >Caja {{ detail.cashRegister.numeral }}</app-adm-item-card
    >
  </li>
  <li
    *ngFor="
      let detail of cashRegisterDetails()?.pendingCashRegisters;
      index as i
    "
  >
    <app-adm-item-card
      [showDropdown]="pendingIndex() === i"
      [options]="pendingOptions"
      [finalBalance]="
        detail.finalBase! > 0 ? detail.finalBase! : detail.initialBase
      "
      [pending]="true"
      (setSelectedItem)="setSelectedCashRegisterDetail(i, true)"
      class="pending-dropdown"
      >Caja {{ detail.cashRegister.numeral }}</app-adm-item-card
    >
  </li>
</ul>
<app-update-cash-register-base-modal
  [cashRegisterDetail]="selectedCashRegisterDetail()"
  [timeForm]="timeForm"
  (onSubmit)="closeCashRegisterDetail()"
/>
