<app-workspace-container formHeadline="Nueva Transacción">
  <app-new-transaction-form form />
  <app-workspace-table-section
    headline="Mis transacciones"
    [length]="details().length"
    [loading]="loading"
    [pagination]="pagination"
    [paginationLoading]="paginationLoading"
    (onSelectPage)="onSelectPage($event)"
  >
    <app-transactions-table
      (onEdit)="tableOnEdit($event)"
      (onRemove)="tableOnRemove($event)"
    />
  </app-workspace-table-section>
</app-workspace-container>
<app-sidebar
  headline="Transacción"
  actionName="Actualizar"
  mode="update"
  [showSideBar]="showSideBarUpdate"
  [loading]="updateLoading()"
  (onSubmit)="updateTransactionDetailForm.emitOnSubmit()"
>
  <app-update-transaction-detail-form
    [transactions]="transactions()"
    (onSubmit)="update($event)"
  />
</app-sidebar>
<app-sidebar
  headline="Transacción"
  actionName="Eliminar"
  mode="delete"
  [showSideBar]="showSideBarDelete"
  [loading]="deleteLoading()"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
