.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}

p span {
  font-weight: 600;
}

.separator {
  display: flex;
  align-self: center;
  width: 2px;
  height: 4rem;
  background-color: var(--accent-100);
}

.total::before {
  content: "$";
}
