<div class="home-container">
  <section class="card">
    <h2 class="home-subtitle">Nueva Transacción</h2>
    <app-new-transaction-form />
  </section>
  <section class="card flex items-center justify-center">
    <ng-template #spinner><app-spinner /></ng-template>
    <div class="w-full h-full" *ngIf="!loading(); else spinner">
      <h2 class="home-subtitle">Mis Transacciones</h2>
      <app-transactions-table
        (onEdit)="showSideBarUpdate.set(true)"
        (onRemove)="onDeleteTable($event)"
      />
    </div>
  </section>
</div>
<app-sidebar
  headline="Transacción"
  actionName="Actualizar"
  mode="update"
  [showSideBar]="showSideBarUpdate"
>
  <app-update-transaction-detail-form [transactions]="transactions()" />
</app-sidebar>
<app-sidebar
  headline="Transacción"
  actionName="Eliminar"
  mode="delete"
  [showSideBar]="showSideBarDelete"
  [loading]="deleteLoading()"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
