<div class="home-container">
  <section class="home-form">
    <h2 class="home-subtitle">Nueva Transacción</h2>
    <app-new-transaction-form />
  </section>
  <section class="card flex items-center justify-center h-[25rem]">
    <ng-template #spinner><app-spinner /></ng-template>
    <div
      class="w-full h-full flex flex-col justify-between"
      *ngIf="!loading(); else spinner"
    >
      <div>
        <h2 class="home-subtitle">Mis Transacciones</h2>
        <app-transactions-table
          (onEdit)="tableOnEdit($event)"
          (onRemove)="tableOnRemove($event)"
        />
      </div>
      <app-pagination
        *ngIf="details().length > 0"
        [loading]="paginationLoading()"
        [pagination]="pagination"
        (onSelectPage)="onSelectPage($event)"
      />
    </div>
  </section>
</div>
<app-sidebar
  headline="Transacción"
  actionName="Actualizar"
  mode="update"
  [showSideBar]="showSideBarUpdate"
  [loading]="updateLoading()"
  (onSubmit)="updateTransactionDetailForm.emitOnSubmit()"
>
  <app-update-transaction-detail-form
    [transactions]="transactions()"
    (onSubmit)="update($event)"
  />
</app-sidebar>
<app-sidebar
  headline="Transacción"
  actionName="Eliminar"
  mode="delete"
  [showSideBar]="showSideBarDelete"
  [loading]="deleteLoading()"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
