<article
  class="text-sm sm:text-base md:text-lg text-gray-700 cursor-pointer transition-colors"
  [ngClass]="{
    'hover:bg-green-50 ': bankDeposit.status === 'OPEN',
    'hover:bg-violet-50': bankDeposit.status === 'IN_PROGRESS',
    'hover:bg-stone-50': bankDeposit.status === 'CLOSED',
    card: !selected,
    'card-accent': selected
  }"
>
  <header
    class="-mx-5 sm:-mx-6 md:-mx-7 -my-5 rounded-t-xl py-2 mb-3"
    [ngClass]="{
      'bg-green-700 ': bankDeposit.status === 'OPEN',
      'bg-violet-700': bankDeposit.status === 'IN_PROGRESS',
      'bg-stone-700': bankDeposit.status === 'CLOSED'
    }"
  >
    <h4
      class="text-green-50 text-base sm:text-lg md:text-xl font-medium text-center"
    >
      {{ bankDeposit.status | bankDepositStatus }}
    </h4>
  </header>
  <app-item-paragraph stat="ID" [value]="bankDeposit.id" />
  <app-item-paragraph stat="Recolector" [value]="bankDeposit.collector" />
  <app-item-paragraph
    stat="Recaudado"
    [value]="bankDeposit.totalCollected"
    pipe="currency"
  />
  <app-item-paragraph stat="Abierto por" [value]="bankDeposit.openedBy" />
  <app-item-paragraph
    stat="Hora"
    [value]="bankDeposit.createdDate"
    pipe="time"
  />
</article>
