<div class="table">
  <table>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th class="w-20">Caja</th>
        <th class="text-right">Base Inicial</th>
        <th class="text-right">Base Final</th>
        <th>Hora Entrada</th>
        <th>Hora Salida</th>
        <th>Cajero</th>
        <th>Estado</th>
        <th>Apertura</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of dashboard()?.cashRegisterDetails">
        <td class="id">{{ detail.cashRegister.id }}</td>
        <td class="text-center">{{ detail.cashRegister.numeral }}</td>
        <td class="text-right">
          {{ detail.detailInitialBase | currency : "symbol" : "$" : "0.00" }}
        </td>
        <td class="text-right">
          {{ detail.detailFinalBase | currency : "symbol" : "$" : "0.00" }}
        </td>
        <td>{{ detail.initialWorking | date : "hh:mm a" }}</td>
        <td>{{ detail.finalWorking | date : "hh:mm a" }}</td>
        <td>{{ detail.createdBy }}</td>
        <td>{{ detail.cashRegister.status | cashRegisterStatus }}</td>
        <td>{{ detail.createdDate | date : "hh:mm a" }}</td>
      </tr>
    </tbody>
  </table>
</div>
