<nav>
  <div>
    <header class="hidden">
      <h1>Servinet Computers</h1>
    </header>
    <ul>
      <li *ngFor="let route of routes; index as i" (click)="clickHandler(i)">
        <a
          [routerLink]="route.route"
          [ngClass]="route.selected ? 'selected' : ''"
        >
          <span class="material-symbols-outlined icon">{{ route.icon }}</span>
          <span class="title">{{ route.title }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="hidden">
    <div class="divider"></div>
    <ul>
      <li>
        <a (click)="logout()">
          <span class="material-symbols-outlined">logout</span>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</nav>
