<div class="table">
  <table>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th>Nombre y Apellido</th>
        <th>Código</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Fecha de registro</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let user of users()">
          <td class="id">{{ user.id }}</td>
          <td>{{ user.name }} {{ user.lastName }}</td>
          <td>{{ user.code }}</td>
          <td>
            {{ user.role | role }}
          </td>
          <td>
            {{ user.enabled | enabled }}
          </td>
          <td>
            {{ user.createdDate | date }}
          </td>
          <td class="actions">
            <div>
              <fa-icon [icon]="faEdit" class="edit" />
              <fa-icon [icon]="faRemove" class="remove" />
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
