<div class="px-5 pt-5 pb-6 bg-white rounded-lg drop-shadow-lg overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr class="bg-gray-50">
        <th class="text-center text-gray-800 text-sm px-5 py-2 uppercase w-20">
          #
        </th>
        <th class="text-left text-gray-800 text-sm px-5 py-2 uppercase">
          Nombre y Apellido
        </th>
        <th class="text-left text-gray-800 text-sm px-5 py-2 uppercase w-20">
          Código
        </th>
        <th class="text-left text-gray-800 text-sm px-5 py-2 uppercase w-40">
          Rol
        </th>
        <th class="text-left text-gray-800 text-sm px-5 py-2 uppercase w-32">
          Estado
        </th>
        <th class="text-left text-gray-800 text-sm px-5 py-2 uppercase w-48">
          Fecha de registro
        </th>
        <th class="w-24"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users()">
        <tr class="even:bg-gray-50 odd:bg-white hover:bg-gray-100">
          <td class="text-center text-gray-900 px-5 py-2">{{ user.id }}</td>
          <td class="text-left text-gray-900 px-5 py-2">
            {{ user.name }} {{ user.lastName }}
          </td>
          <td class="text-left text-gray-900 px-5 py-2">{{ user.code }}</td>
          <td class="text-left text-gray-900 px-5 py-2">
            {{ user.role | role }}
          </td>
          <td class="text-left text-gray-900 px-5 py-2">{{ user.enabled }}</td>
          <td class="text-left text-gray-900 px-5 py-2">
            {{ user.createdDate | date }}
          </td>
          <td class="flex items-center justify-center gap-3">
            <span class="w-7 h-7 bg-neutral-400 block rounded-md"></span>
            <span class="w-7 h-7 bg-neutral-400 block rounded-md"></span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
