<li class="bg-violet-50 px-8 py-6 rounded-xl">
  <a
    class="flex items-center justify-between text-xl text-gray-700 hover:text-violet-800 hover:underline"
    [routerLink]="['./reportes', cashRegisterDetail.id]"
  >
    <span class="font-medium">ID {{ cashRegisterDetail.id }}</span>
    <span>{{ cashRegisterDetail.initialWorking | date : "hh:mm" }}</span>
    <span>{{ cashRegisterDetail.createdBy }}</span>
    <span>{{ cashRegisterDetail.status | cashRegisterDetailStatus }}</span>
    <span>{{ cashRegisterDetail.createdDate | date : "dd/MM/yyyy" }}</span>
  </a>
</li>
