<form
  method="post"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="form-spacing"
>
  <div>
    <datalist id="platforms">
      <option
        *ngFor="let platform of platforms()"
        [value]="platform.name"
      ></option>
    </datalist>
    <label for="platform">Selecciona la plataforma</label>
    <input list="platforms" id="platform" formControlName="platformName" />
    <strong *ngIf="hasError('platformName', 'required')"
      >Ingresa el nombre de la plataforma</strong
    >
  </div>
  <div>
    <label for="value">Valor transferido</label>
    <input type="text" id="value" formControlName="value" />
    <strong *ngIf="hasError('value', 'required')"
      >Ingresa un valor válido</strong
    >
  </div>
  <div>
    <label for="amount">Cantidad</label>
    <select id="amount" formControlName="amount">
      <option *ngFor="let number of numbers()" [value]="number">
        {{ number }}
      </option>
    </select>
    <strong *ngIf="hasError('amount', 'min')">No puede ser menor a 1</strong>
  </div>
  <button type="submit">Enviar</button>
</form>
<app-loading [loading]="formStatus === 'loading'"></app-loading>
