<article
  class="card text-lg cursor-pointer hover:scale-[1.02] transition-transform"
>
  <header class="-mx-7 -my-5 rounded-t-xl bg-green-700 py-2 mb-3">
    <h4 class="text-green-50 text-xl font-medium text-center">Abierto</h4>
  </header>
  <p class="text-gray-700 flex items-center justify-between">
    Recolector:
    <span class="text-gray-700 font-medium">María Rodriguez</span>
  </p>
  <p class="text-gray-700 flex items-center justify-between">
    Recaudado:
    <span class="text-gray-700 font-medium">{{
      0 | currency : "symbol" : "$" : "0.00"
    }}</span>
  </p>
  <p class="text-gray-700 flex items-center justify-between">
    Hora: <span class="text-gray-700 font-medium">13:04 p.m</span>
  </p>
</article>
