<form class="gap-0 px-5">
  <div
    class="grid grid-cols-3 items-center gap-5 text-center text-gray-700 font-medium px-5 border-b-2 border-gray-300"
  >
    <h4>Denominación</h4>
    <h4 class="border-l-2 border-r-2 border-gray-300">Cantidad</h4>
    <h4>Total</h4>
  </div>
  <div
    class="grid grid-cols-3 items-center gap-5 px-5 text-right border-b-2 border-gray-300"
    *ngFor="let cash of cashBase"
  >
    <label [for]="cash.title" class="font-normal peer">{{
      cash.value | currency : "Symbol" : "$" : "0.00"
    }}</label>
    <input
      type="number"
      [id]="cash.title"
      placeholder="0"
      class="cash_amount_input"
    />
    <span class="text-gray-800">{{
      "0" | currency : "Symbol" : "$" : "0.00"
    }}</span>
  </div>
  <div class="grid grid-cols-3 items-center gap-5 text-right px-5">
    <label for="total">Total</label>
    <input
      type="number"
      id="total"
      placeholder="0"
      class="cash_amount_input"
      disabled
    />
    <span class="text-gray-800 font-medium">{{
      "0" | currency : "Symbol" : "$" : "0.00"
    }}</span>
  </div>
</form>
