<app-spinner *ngIf="loading()"></app-spinner>
<form
  class="w-full px-5 flex flex-col gap-5"
  [formGroup]="baseForm"
  (ngSubmit)="calculate()"
  *ngIf="!loading()"
>
  <div class="flex flex-wrap items-start gap-12">
    <section class="card max-w-md">
      <header class="mb-5">
        <h3 class="text-center text-gray-700 text-xl font-medium">Billete</h3>
      </header>
      <div
        class="grid grid-cols-3 items-center gap-5 text-center text-gray-700 font-medium px-5 border-b-2 border-gray-300"
      >
        <h4>Denominación</h4>
        <h4 class="border-l-2 border-r-2 border-gray-300">Cantidad</h4>
        <h4>Total</h4>
      </div>
      <div
        class="grid grid-cols-3 items-center gap-5 px-5 text-right border-b-2 border-gray-300"
        *ngFor="let cash of cashBase().slice(0, 6)"
      >
        <label [for]="cash.title" class="font-normal peer">{{
          cash.value | currency : "Symbol" : "$" : "0.00"
        }}</label>
        <input
          type="text"
          [id]="cash.title"
          placeholder="0"
          class="cash_amount_input"
          [formControlName]="cash.title"
        />
        <span class="text-gray-800">{{
          cash.total | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
      <div class="grid grid-cols-3 items-center gap-5 text-right px-5">
        <label for="total" class="">Total</label>
        <input
          type="text"
          id="total"
          class="cash_amount_input"
          [value]="billetAmount()"
          disabled
        />
        <span class="text-gray-800 font-medium">{{
          billetTotal() | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
    </section>
    <section class="card max-w-md">
      <header class="mb-5">
        <h3 class="text-center text-gray-700 text-xl font-medium">Moneda</h3>
      </header>
      <div
        class="grid grid-cols-3 items-center gap-5 text-center text-gray-700 font-medium px-5 border-b-2 border-gray-300"
      >
        <h4>Denominación</h4>
        <h4 class="border-l-2 border-r-2 border-gray-300">Cantidad</h4>
        <h4>Total</h4>
      </div>
      <div
        class="grid grid-cols-3 items-center gap-5 px-5 text-right border-b-2 border-gray-300"
        *ngFor="let cash of cashBase().slice(6, 11)"
      >
        <label [for]="cash.title" class="font-normal peer">{{
          cash.value | currency : "Symbol" : "$" : "0.00"
        }}</label>
        <input
          type="text"
          [id]="cash.title"
          placeholder="0"
          class="cash_amount_input"
          [formControlName]="cash.title"
        />
        <span class="text-gray-800">{{
          cash.total | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
      <div class="grid grid-cols-3 items-center gap-5 text-right px-5">
        <label for="total" class="">Total</label>
        <input
          type="text"
          id="total"
          class="cash_amount_input"
          [value]="coinAmount()"
          disabled
        />
        <span class="text-gray-800 font-medium">{{
          coinTotal() | currency : "Symbol" : "$" : "0.00"
        }}</span>
      </div>
    </section>
  </div>
  <input type="submit" value="Calcular" class="sr-only" />
  <div class="w-full flex items-center gap-5">
    <app-button
      type="button"
      class="w-2/6"
      color="neutral"
      (click)="handleShowSideBar()"
      >Añadir observación</app-button
    >
    <app-button type="button" class="w-4/6" (click)="emitRegister()"
      >Registrar base</app-button
    >
  </div>
</form>
<aside
  class="fixed w-72 top-16 right-0 bottom-0 bg-white drop-shadow-xl py-5 ease-in duration-200"
  [ngClass]="{ 'translate-x-full': !showSideBar() }"
>
  <h4 class="text-xl text-gray-800 font-medium px-5 mb-3">Observación</h4>
  <form class="form px-5">
    <label for="observation" class="sr-only">Observación</label>
    <textarea
      [formControl]="observationControl"
      id="observation"
      rows="4"
      class="input mb-3"
    ></textarea>
    <app-button type="button" (click)="handleObservation()">Guardar</app-button>
  </form>
</aside>
