<form
  class="duration-300"
  [ngClass]="show ? 'opacity-100 visible h-full' : 'opacity-0 invisible h-0'"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <app-fieldset legend="Nueva caja fuerte">
    <div class="control">
      <label for="numeral">Número de caja</label>
      <input
        type="number"
        class="input"
        id="numeral"
        formControlName="numeral"
      />
    </div>
    <div class="flex items-center justify-between">
      <app-icon-button
        [icon]="faTrash"
        type="button"
        color="neutral"
        (click)="emitOnClose()"
      />
      <app-button type="submit" [loading]="loading()">
        Registrar caja fuerte
      </app-button>
    </div>
  </app-fieldset>
</form>
