<dialog
  #modal
  class="z-40 w-[calc(100vw_-_15%)] max-h-fit px-4 py-5 rounded-lg outline-none backdrop:bg-black backdrop:bg-opacity-30 backdrop:backdrop-blur-sm"
>
  <div class="absolute -right-2 -top-2 z-50">
    <app-icon-button type="button" [icon]="faClose" />
  </div>
  <header class="mb-4 border-b border-gray-400 pb-3">
    <h2 class="text-center text-gray-800 text-3xl font-medium">
      Caja Registradora N°
      {{ reports()?.reports?.cashRegisterDetail?.cashRegister?.numeral ?? 0 }}
    </h2>
  </header>
  <ul class="flex items-center justify-center gap-1">
    <ng-container *ngFor="let item of types; index as i">
      <li class="item" (click)="setSelectedType(item.type)">
        {{ item.title }}
      </li>
      <div class="h-8 w-px bg-violet-100" *ngIf="i < types.length - 1"></div>
    </ng-container>
  </ul>
  <div class="divider my-4"></div>
  <div class="max-h-80 overflow-y-auto">
    <app-detailed-transactions-table
      *ngIf="selectedType() === 'TRANSACTIONS'"
      [transactions]="reports()?.transactions?.transactions"
    />
    <app-detailed-expenses-table
      *ngIf="selectedType() === 'EXPENSES'"
      [expenses]="reports()?.transactions?.expenses"
    />
    <app-detailed-discounts-table
      *ngIf="selectedType() === 'DISCOUNTS'"
      [discounts]="reports()?.transactions?.discounts"
    />
    <app-detailed-transfers-table
      *ngIf="selectedType() === 'TRANSFERS'"
      [transfers]="reports()?.transactions?.transfers"
    />
  </div>
</dialog>
