<header
  class="relative pt-9 pb-10 px-12 w-full border-t-0 border-b-2 border-x-2 border-violet-100 bg-violet-100 rounded-bl-3xl rounded-br-3xl"
>
  <div class="flex items-center justify-between mb-5 w-full">
    <h2 class="uppercase text-3xl font-medium text-gray-700">
      Panel de Estadísticas
    </h2>
    <input
      type="date"
      id="date"
      class="input"
      [(ngModel)]="date"
      (ngModelChange)="setDate()"
    />
  </div>
  <div class="flex items-center justify-between gap-7">
    <app-header-stat-card
      stat="Saldo Total"
      [value]="dashboard()?.totalBalance"
      color="green"
    />
    <app-header-stat-card
      stat="Gastos"
      [value]="dashboard()?.expenses"
      color="red"
    />
    <app-header-stat-card
      stat="Ganancias"
      [value]="dashboard()?.earnings"
      color="green"
    />
    <app-header-stat-card
      stat="Transacciones"
      [value]="dashboard()?.transactionsAmount"
      color="violet"
      [format]="false"
    />
  </div>
</header>
