li a {
  transition: 150ms ease-in-out;
}

li a:hover {
  background-color: var(--accent-100);
  cursor: pointer;
}

.selected * {
  font-weight: 600;
}

@media (max-width: 700px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--nav-h);
    background-color: var(--bg-300);
    border-top: 1px solid #c0c0c0;
  }

  li a {
    flex-direction: column;
    padding: 1rem;
    width: 10rem;
    font-size: 1.6rem;
  }

  nav *:not(.hidden) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .hidden {
    display: none;
  }
}

@media (min-width: 701px) {
  nav {
    width: var(--nav-w);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--text-100);
    padding: 0 2rem 4rem;
    border-right: 2px solid var(--bg-200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
  }

  header {
    height: var(--little-nav-h);
    text-align: center;
    margin-bottom: 2rem;
  }

  header h1 {
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  header,
  li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }

  header span,
  li a span:first-of-type {
    font-size: 3rem;
  }

  li a span:last-of-type {
    font-size: 1.8rem;
  }

  .selected * {
    letter-spacing: 0.1rem;
  }
}
