<app-workspace-container formHeadline="Nueva Transferencia">
  <app-new-cash-transfer-form form />
  <app-workspace-table-section
    [paginationLoading]="paginationLoading"
    [pagination]="pagination"
    [loading]="loading"
    headline="Mis transferencias"
    [length]="cashTransfers().length"
    (onSelectPage)="onSelectPage($event)"
  >
    <app-cash-transfers-table (onRemove)="onRemove($event)" />
  </app-workspace-table-section>
</app-workspace-container>
<app-sidebar
  [showSideBar]="showDeleteSideBar"
  headline="Transferencia"
  actionName="Eliminar"
  mode="delete"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
