<div class="home-container">
  <section class="home-form">
    <h2 class="home-subtitle">Nueva Transferencia</h2>
    <app-new-cash-transfer-form />
  </section>
  <app-workspace-table-section
    [paginationLoading]="paginationLoading"
    [pagination]="pagination"
    [loading]="loading"
    headline="Mis transferencias"
    [length]="cashTransfers().length"
    (onSelectPage)="onSelectPage($event)"
  >
    <app-cash-transfers-table (onRemove)="onRemove($event)" />
  </app-workspace-table-section>
</div>
<app-sidebar
  [showSideBar]="showDeleteSideBar"
  headline="Transferencia"
  actionName="Eliminar"
  mode="delete"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
