form {
  width: 80%;
  max-width: 40rem;
  margin: auto;
}

a {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #52aacd;
}

a:hover {
  color: #6ebede;
}

a:active {
  color: #4b8fa9;
}
