form {
  width: 90%;
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0;
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: var(--gray-color-900);
}

button {
  color: var(--background-color);
  background-color: var(--primary-color-500);
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  width: 65%;
  display: block;
  margin: auto;
}

input {
  background-color: var(--white-color);
  font-size: 0.9rem;
  color: var(--gray-color-900);
  border: 2px solid var(--gray-color-400);
  border-radius: 0.4rem;
  width: 100%;
}

input,
button {
  font-family: inherit;
  padding: 0.5rem 0.8rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-color-600);
}

button:active {
  background-color: var(--primary-color-700);
}

input:focus,
input:valid {
  outline: none;
  border-color: var(--secondary-color-500);
}

.input-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-password a {
  color: var(--secondary-color-600);
  display: block;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.input-password a:hover {
  color: var(--secondary-color-500);
}
