<nav>
  <div>
    <header class="hidden">
      <span class="material-symbols-outlined"> computer </span>
      <h1>Servinet</h1>
    </header>
    <ul>
      <li *ngFor="let route of routes; index as i" (click)="clickHandler(i)">
        <a
          [routerLink]="route.route"
          [ngClass]="route.selected ? 'selected' : ''"
        >
          <span class="material-symbols-outlined">{{ route.icon }}</span>
          <span>{{ route.title }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="hidden">
    <ul>
      <li>
        <a (click)="logout()">
          <span class="material-symbols-outlined">logout</span>
          <span>Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<app-loading [loading]="logoutStatus === 'loading'"></app-loading>
