<form class="form" [formGroup]="form" (ngSubmit)="emitOnComplete()">
  <div class="control">
    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name" class="input" />
  </div>
  <div class="control">
    <label for="lastName">Apellido(s)</label>
    <input type="text" id="lastName" formControlName="lastName" class="input" />
  </div>
  <div class="control">
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" formControlName="email" class="input" />
  </div>
  <div class="control">
    <label for="role">Rol de usuario</label>
    <select id="role" formControlName="role" class="input">
      <option value="CASHIER">CAJERO</option>
      <option value="SUPERVISOR">SUPERVISOR</option>
      <option value="ADMIN">ADMINISTRADOR</option>
    </select>
  </div>
  <input type="submit" value="submit" class="sr-only" />
</form>
