footer {
  width: 100%;
  height: var(--login-footer-h);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: var(--black);
}

footer h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

footer address {
  font-size: 1.6rem;
}

footer h2,
footer address {
  color: var(--bg);
}
