<article class="card">
  <app-request-change-password-form
    *ngIf="!requested() && !canChange()"
    [form]="requestChangePasswordForm"
    [loading]="requestedLoading()"
    (onSubmit)="requestChangePassword()"
  />
  <app-password-temp-code-form
    *ngIf="requested() && !canChange()"
    [form]="passwordTempCodeForm"
    [loading]="passwordTempCodeLoading()"
  />
  <form class="form">
    <div class="control">
      <label for="new-password">Contraseña nueva</label>
      <input type="password" id="new-password" class="input" />
    </div>
    <div class="control">
      <label for="confirm-new-password">Confirma tu contraseña nueva</label>
      <input type="password" id="confirm-new-password" class="input" />
    </div>
    <app-button type="submit">Cambiar contraseña</app-button>
  </form>
</article>
