<div class="card">
  <form class="form">
    <div class="control">
      <label for="code">Ingresa tu código de acceso</label>
      <input type="text" id="code" class="input" />
    </div>
    <div class="control">
      <label for="email">Ingresa un correo electrónico</label>
      <input type="email" id="email" class="input" />
    </div>
    <div class="control">
      <label for="temp-code">Código temporal</label>
      <input type="password" id="temp-code" class="input" />
    </div>
    <div class="control">
      <label for="new-password">Contraseña nueva</label>
      <input type="password" id="new-password" class="input" />
    </div>
    <div class="control">
      <label for="confirm-new-password">Confirma tu contraseña nueva</label>
      <input type="password" id="confirm-new-password" class="input" />
    </div>
    <app-button type="submit">Cambiar contraseña</app-button>
  </form>
</div>
