<app-header-title
  hTitle="Usuarios"
  hDescription="Aquí podrás administrar todo tipo de usuarios vinculados con la empresa mediante roles"
></app-header-title>
<section class="mt-10">
  <div class="px-5 pt-5 pb-6 bg-white rounded-lg drop-shadow-lg">
    <h3 class="text-2xl text-gray-700 font-medium mb-3">
      Listado de usuarios registrados
    </h3>
    <div class="flex flex-col gap-3">
      <div class="flex items-center justify-between">
        <form class="flex items-center gap-3">
          <label for="role" class="text-gray-700 font-medium"
            >Filtrar por Rol:</label
          >
          <select
            id="role"
            class="outline-none rounded-lg px-2 py-0.5 border border-gray-400 text-gray-700"
          >
            <option value="">Todos</option>
            <option value="">Cajero</option>
            <option value="">Supervisor</option>
            <option value="">Administrador</option>
          </select>
        </form>
        <button
          type="button"
          class="bg-purple-600 text-purple-100 text-lg px-6 py-1.5 rounded-xl font-semibold"
        >
          Añadir usuario
        </button>
      </div>
      <div class="h-px w-full bg-neutral-300"></div>
      <form class="flex items-center gap-5">
        <div class="flex items-center gap-1">
          <input type="radio" id="all" value="all" name="enabled" checked />
          <label for="all" class="text-gray-700">Todos</label>
        </div>
        <div class="flex items-center gap-1">
          <input type="radio" id="enabled" value="enabled" name="enabled" />
          <label for="enabled" class="text-gray-700">Habilitado</label>
        </div>
        <div class="flex items-center gap-1">
          <input type="radio" id="disabled" value="disabled" name="enabled" />
          <label for="disabled" class="text-gray-700">Deshabilitado</label>
        </div>
      </form>
      <app-users-list></app-users-list>
    </div>
  </div>
</section>
<aside class="fixed w-72 top-16 right-0 bottom-0 bg-white drop-shadow-xl py-5">
  <h4 class="text-xl text-gray-800 font-medium px-5 mb-3">
    Registro de usuario
  </h4>
  <form class="flex flex-col gap-3 px-5">
    <div class="flex flex-col gap-1">
      <label for="name" class="block text-gray-700 font-semibold">Nombre</label>
      <input
        type="text"
        id="name"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="lastName" class="block text-gray-700 font-semibold"
        >Apellido(s)</label
      >
      <input
        type="text"
        id="lastName"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="code" class="block text-gray-700 font-semibold">Código</label>
      <input
        type="text"
        id="code"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
        disabled
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="password" class="block text-gray-700 font-semibold"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="repeatPassword" class="block text-gray-700 font-semibold"
        >Confirma la contraseña</label
      >
      <input
        type="password"
        id="repeatPassword"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="role" class="block text-gray-700 font-semibold"
        >Rol de usuario</label
      >
      <select
        id="role"
        class="w-full outline-none rounded-lg px-4 py-1 border border-gray-400 text-lg text-gray-700"
      >
        <option value="">CAJERO</option>
        <option value="">SUPERVISOR</option>
        <option value="">ADMINISTRADOR</option>
      </select>
    </div>
    <button
      type="button"
      class="bg-purple-600 text-purple-100 text-lg mt-3 px-6 py-1.5 rounded-xl font-semibold"
    >
      Registrar
    </button>
    <button
      type="button"
      class="bg-neutral-600 text-neutral-100 text-lg px-6 py-1.5 rounded-xl font-semibold"
    >
      Cancelar
    </button>
  </form>
</aside>
