main,
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  color: var(--bg);
  width: 60%;
  text-align: center;
  background-color: var(--accent-100);
}

#welcome h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

#welcome p {
  font-size: 2.2rem;
}

#login-form {
  flex-direction: column;
  gap: 8rem;
  width: 40%;
}

#login-form h2 {
  font-size: 3rem;
  text-align: center;
  text-wrap: balance;
  padding: 0 3rem;
  margin: auto;
}

app-login-form {
  width: 100%;
}

@media (max-width: 800px) {
  .hidden {
    display: none;
  }

  #login-form {
    width: 100%;
  }
}
