<header
  class="w-full h-16 fixed left-0 top-0 right-0 z-40 px-5 bg-violet-800 drop-shadow-xl flex items-center"
>
  <ul class="flex items-center justify-between w-full text-gray-300">
    <li class="flex items-center gap-2 px-4 py-2">
      <fa-icon [icon]="faComputer" />
      <h1 class="text-xl font-semibold">Servinet</h1>
    </li>
    <li>
      <button
        class="px-4 py-2 flex items-center gap-3 ms-auto text-gray-200"
        style="text-shadow: 0 0 1px rgb(17, 24, 39)"
      >
        <fa-icon [icon]="faAccount" />
        <span class="font-medium">
          ID {{ loggedIn()?.id }} - {{ loggedIn()?.name }}
          {{ loggedIn()?.lastName }}
        </span>
        <fa-icon [icon]="faExpand" />
      </button>
    </li>
  </ul>
</header>
