.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.75rem;
  max-width: calc((17.5rem * 3) + (1.75rem * 2));
  margin: 0 auto;
  font-weight: 500;
  text-align: left;
}
