<!--header class="mb-3">
  <h3 class="text-xl text-gray-700 font-medium">Cajas Fuertes</h3>
</header-->
<ul class="grid grid-cols-[repeat(auto-fit,_minmax(16rem,_1fr))] gap-5">
  <li *ngFor="let detail of safeDetails(); index as i">
    <app-adm-item-card
      [showDropdown]="showDropdown() === i"
      [options]="options"
      [finalBalance]="detail.finalBase"
      (setSelectedItem)="setSelectedSafeDetail(i)"
      class="dropdown"
      >Caja {{ detail.safe.numeral }}</app-adm-item-card
    >
  </li>
</ul>
<app-update-base-modal [safeDetail]="selectedSafeDetail()" />
