<app-detail-wrapper headline="Administración" [loading]="false">
  <ul class="flex flex-col gap-3">
    <li>
      <app-button type="button" (click)="openUpdateInitialBaseModal()">
        Base Inicial
      </app-button>
    </li>
    <li>
      <app-button
        type="button"
        [disabled]="!closed()"
        (click)="openUpdateFinalBaseModal()"
      >
        {{ closed() ? "Base Final" : "Base Final por definir" }}
      </app-button>
    </li>
    <li>
      <app-button
        type="button"
        [disabled]="closed()"
        (click)="closeModal.open()"
        color="danger"
      >
        {{ closed() ? "Caja cerrada" : "Cerrar caja" }}
      </app-button>
    </li>
  </ul>
</app-detail-wrapper>
<app-update-cash-register-base-modal />
<app-close-cash-register-base-modal />
