<form role="form" class="form">
  <div class="control">
    <label for="update-description">Nota</label>
    <input type="text" id="update-description" class="input" />
  </div>
  <div class="control">
    <label for="update-type">Tipo</label>
    <select id="update-type" class="input">
      <option value="DEPOSIT">Depósito</option>
      <option value="WITHDRAWAL">Retiro</option>
    </select>
  </div>
  <div class="control">
    <label for="update-value">Valor</label>
    <input type="number" id="update-value" class="input" />
  </div>
  <div class="control">
    <label for="update-commission">Adicional</label>
    <input type="number" id="update-commission" class="input" />
  </div>
  <div class="control">
    <label for="update-date">Hora</label>
    <input type="time" id="update-date" class="input" />
  </div>
  <input type="submit" class="sr-only" />
</form>
