main {
  min-height: calc(100vh - var(--little-nav-h) - 2rem);
  padding: 0 2rem 4rem;
  display: flex;
  /* display: grid;
  grid-template-columns: minmax(34rem, 2fr) 3fr;
  grid-template-rows: 42rem; */
  gap: 3rem;
}

section {
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--bg-300);
  height: 42rem;
}

#new-transfer {
  min-width: 32rem;
  width: 40%;
}

#transfers {
  width: 60%;
}

.scroll,
.scroll * {
  height: 86%;
  overflow: auto;
}

@media (max-width: 1170px) {
  main {
    flex-direction: column;
  }

  section {
    height: unset;
  }

  #new-transfer {
    min-width: unset;
    width: 100%;
    max-width: 35rem;
    margin: auto;
  }

  #transfers {
    width: 100%;
  }
}
