<div class="home-container">
  <section class="card">
    <h2 class="home-subtitle">Nuevo Gasto</h2>
    <app-new-expense-form />
  </section>
  <section class="card flex items-center justify-center">
    <ng-template #spinner> <app-spinner /></ng-template>
    <div class="w-full h-full" *ngIf="!loading(); else spinner">
      <h2 class="home-subtitle">Mis Gastos</h2>
      <app-expenses-table
        (onEdit)="tableOnEdit($event)"
        (onRemove)="tableOnRemove($event)"
      />
    </div>
  </section>
</div>
<app-sidebar
  [showSideBar]="showSideBarUpdate"
  [loading]="updateLoading()"
  actionName="Actualizar"
  headline="Gasto"
  mode="update"
>
  <app-update-expense-form />
</app-sidebar>
<app-sidebar
  [showSideBar]="showSideBarDelete"
  [loading]="deleteLoading()"
  actionName="Eliminar"
  headline="Gasto"
  mode="delete"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="remove($event)" />
</app-sidebar>
