<dialog
  #modal
  class="px-4 py-5 rounded-lg outline-none backdrop:bg-black backdrop:bg-opacity-30 backdrop:backdrop-blur-sm"
>
  <header class="mb-5 border-b border-gray-400 pb-2">
    <h2 class="text-center text-gray-800 text-3xl font-medium">
      Base {{ initial ? "Inicial" : "Final" }} de Caja Registradora N°
      {{ cashRegisterDetail()?.cashRegister?.numeral ?? 0 }}
    </h2>
  </header>
  <app-update-cash-register-base-form />
  <footer
    class="flex items-center justify-between mt-7 border-t border-gray-400 pt-5"
  >
    <app-button type="button" (click)="close()" color="neutral"
      >Cancelar</app-button
    >
    <app-button type="button" (click)="submit()">Guardar</app-button>
  </footer>
</dialog>
