<app-loading *ngIf="loading(); else page" />
<ng-template #page>
  <section
    *ngIf="open() === false; else home"
    class="h-[calc(100dvh-5.5rem)] flex items-center justify-center"
  >
    <article class="card">
      <h2
        class="mb-3 text-xl sm:text-2xl md:text-3xl text-gray-700 font-medium text-pretty"
      >
        Parece que no tienes cajas
      </h2>
      <p class="mb-8 text-sm sm:text-base md:text-lg text-gray-700 text-pretty">
        Abre una caja para hacer transacciones
      </p>
      <app-button type="button" (click)="goToOpenCash()">Abrir caja</app-button>
    </article>
  </section>
  <ng-template #home>
    <app-workspace-nav />
    <div class="divider my-7"></div>
    <router-outlet />
  </ng-template>
</ng-template>
