<div class="home-container">
  <section class="home-form">
    <h2 class="home-subtitle">Nueva Transacción</h2>
    <app-new-transaction-form />
  </section>
  <app-home-table-section
    headline="Mis transacciones"
    [length]="details().length"
    [loading]="loading"
    [pagination]="pagination"
    [paginationLoading]="paginationLoading"
    (onSelectPage)="onSelectPage($event)"
  >
    <app-transactions-table
      (onEdit)="tableOnEdit($event)"
      (onRemove)="tableOnRemove($event)"
    />
  </app-home-table-section>
</div>
<app-sidebar
  headline="Transacción"
  actionName="Actualizar"
  mode="update"
  [showSideBar]="showSideBarUpdate"
  [loading]="updateLoading()"
  (onSubmit)="updateTransactionDetailForm.emitOnSubmit()"
>
  <app-update-transaction-detail-form
    [transactions]="transactions()"
    (onSubmit)="update($event)"
  />
</app-sidebar>
<app-sidebar
  headline="Transacción"
  actionName="Eliminar"
  mode="delete"
  [showSideBar]="showSideBarDelete"
  [loading]="deleteLoading()"
  (onSubmit)="tempCodeForm.emitOnSubmit()"
>
  <app-temp-code-form (onSubmit)="delete($event)" />
</app-sidebar>
