<app-header-title
  hTitle="Bienvenido"
  hDescription="Visualiza y actualiza todos tus productos"
/>
<article
  class="px-5 py-4 border-2 border-gray-300 rounded-xl text-center w-full max-w-xs m-auto"
>
  <h3 class="text-xl font-light text-gray-700">Clave Dinámica</h3>
  <p class="text-3xl font-medium tracking-widest text-violet-700">
    {{ tempCode() ? tempCode()?.code : "----" }}
  </p>
</article>
<ul class="container">
  <li>
    <app-product-card
      pTitle="Plataformas"
      [pIcon]="faPlatforms"
      pRoute="./plataformas"
    />
  </li>
  <li>
    <app-product-card
      pTitle="Cajas Registradoras"
      [pIcon]="faCashRegister"
      pRoute="./cajas-registradoras"
    />
  </li>
  <li>
    <app-product-card
      pTitle="Cajas Fuertes"
      [pIcon]="faCashSafe"
      pRoute="./cajas-fuertes"
    />
  </li>
  <li>
    <app-product-card pTitle="Usuarios" [pIcon]="faUser" pRoute="./usuarios" />
  </li>
</ul>
