<section class="px-12 pt-11 pb-12 border-2 border-violet-200 rounded-3xl">
  <header class="mb-5">
    <h2
      class="text-xl sm:text-2xl md:text-3xl text-center font-medium text-violet-700"
    >
      Totalidad de Saldos
    </h2>
  </header>
  <div
    class="grid grid-cols-[repeat(auto-fit,_minmax(17rem,_1fr))] gap-x-7 gap-y-5 text-gray-700"
  >
    <app-cash-box-stat-card
      (open)="openPlatforms()"
      stat="Plataformas"
      [value]="dashboard()?.platformBalancesTotal"
    />
    <app-cash-box-stat-card
      (open)="openCashRegisters()"
      stat="Cajas Registradoras"
      [value]="dashboard()?.cashRegistersTotal"
    />
    <app-cash-box-stat-card
      (open)="openSafes()"
      stat="Cajas Fuertes"
      [value]="dashboard()?.safesTotal"
    />
  </div>
</section>
<app-platforms-modal />
<app-cash-registers-modal />
<app-safes-stats-modal />
