nav {
  padding: 2rem;
  height: var(--little-nav-h);
  margin-bottom: 2rem;
}

ul {
  background-color: var(--bg-300);
  padding: 3rem;
  border-radius: 3rem;
}

ul,
ul * {
  height: 100%;
  display: flex;
  align-items: center;
}

li a {
  font-size: 2rem;
  color: var(--text-100);
  font-weight: 600;
  gap: 0.4rem;
}

li a span {
  font-size: 2.4rem;
}

.chevron,
li a.last {
  color: var(--text-200);
  cursor: default;
}

li a:hover:not(li a.last) {
  color: var(--primary-100);
  cursor: pointer;
}
