<app-navbar></app-navbar>
<main>
  <section>
    <header>
      <h2>Sedes registradas</h2>
      <span class="add material-symbols-outlined"> add </span>
    </header>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campus of campuses">
          <td>{{ campus.id }}</td>
          <td>Sede #{{ campus.numeral }}</td>
          <td>{{ campus.address }}</td>
          <td>{{ campus.cellphone }}</td>
          <td class="right">
            <span class="material-symbols-outlined"> chevron_right </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
