<header
  class="relative rounded-b-2xl shadow-sm px-10 pt-5 pb-20 bg-violet-200 space-y-5"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-col gap-1">
      <h3 class="text-gray-700 text-3xl font-medium">
        Caja
        {{ selectedCashRegister()?.cashRegisterDetail?.cashRegister?.numeral }}
      </h3>
      <div class="text-gray-700 flex items-center gap-7">
        <p>
          Entrada:
          {{
            selectedCashRegister()?.cashRegisterDetail?.initialWorking ??
              "--:--"
          }}
        </p>
        <div class="h-5 w-px bg-violet-400"></div>
        <p>
          Almuerzo:
          {{
            selectedCashRegister()?.cashRegisterDetail?.initialBreak ?? "--:--"
          }}
          -
          {{
            selectedCashRegister()?.cashRegisterDetail?.finalBreak ?? "--:--"
          }}
        </p>
        <div class="h-5 w-px bg-violet-400"></div>
        <p>
          Salida:
          {{
            selectedCashRegister()?.cashRegisterDetail?.finalWorking ?? "--:--"
          }}
        </p>
      </div>
    </div>
    <form>
      <label for="selectCashRegister" class="sr-only"
        >Selecciona una caja</label
      >
      <select
        id="selectCashRegister"
        class="input shadow w-36"
        (change)="handleSelectedCashRegister($event)"
      >
        <option
          [value]="i"
          *ngFor="
            let report of myCashRegisters()?.cashRegisterDetailsReports;
            index as i
          "
        >
          Caja {{ report.cashRegisterDetail.cashRegister.numeral }}
        </option>
        <option
          value="all"
          *ngIf="(myCashRegisters()?.cashRegisterDetailsReports)!.length > 1"
        >
          Todas
        </option>
      </select>
    </form>
  </div>
  <div class="absolute left-7 right-7 grid grid-cols-3 gap-11">
    <div class="card flex flex-col gap-3">
      <h3 class="text-lg text-gray-700 font-medium">Saldo en caja</h3>
      <p class="text-2xl text-gray-700 text-right font-medium">
        {{
          selectedCashRegister()?.balance ?? 0
            | currency : "symbol" : "$" : "0.00"
        }}
      </p>
    </div>
    <div class="card flex flex-col gap-3">
      <h3 class="text-lg text-gray-700 font-medium">Depósitos</h3>
      <p class="text-2xl text-green-700 text-right font-medium">
        {{
          selectedCashRegister()?.deposits ?? 0
            | currency : "symbol" : "$" : "0.00"
        }}
      </p>
    </div>
    <div class="card flex flex-col gap-3">
      <h3 class="text-lg text-gray-700 font-medium">Retiros</h3>
      <p class="text-2xl text-red-700 text-right font-medium">
        {{
          selectedCashRegister()?.withdrawals ?? 0
            | currency : "symbol" : "$" : "0.00"
        }}
      </p>
    </div>
  </div>
</header>
<section class="mt-32 flex items-center justify-center gap-7">
  <app-button
    type="button"
    [loading]="breakLoading()"
    (click)="handleTakeBreak()"
    *ngIf="selectedCashRegisterBreakTitle() !== ''"
    >{{ selectedCashRegisterBreakTitle() }}</app-button
  >
  <app-button type="button">Cerrar caja</app-button>
</section>
