<app-header-title
  hTitle="Administración"
  hDescription="Puedes añadir, actualizar, y ver historial de todo tipo de registros"
/>
<div class="container flex flex-col items-center gap-7">
  <nav class="w-fit bg-white shadow px-5 rounded-2xl">
    <ul class="w-full flex items-center justify-center gap-2">
      <app-adm-nav-item
        headline="Cajas Registradoras"
        route="cajas-registradoras"
      />
      <span class="text-violet-900">|</span>
      <app-adm-nav-item headline="Cajas Fuertes" route="cajas-fuertes" />
    </ul>
  </nav>
  <section class="w-full">
    <router-outlet />
  </section>
</div>
