<main class="w-full h-screen flex justify-center items-center">
  <article class="bg-white rounded-xl drop-shadow-lg">
    <section class="px-8 py-6">
      <header class="mb-5 flex flex-col gap-1.5">
        <h2 class="text-2xl text-gray-700 font-semibold">
          ¡Bienvenido de vuelta!
        </h2>
        <p class="text-lg text-gray-700">
          Ingresa tus credenciales para acceder a la plataforma.
        </p>
      </header>
      <app-login-form></app-login-form>
    </section>
  </article>
</main>
