form {
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  border-radius: 0.8rem;
  padding: 1.25rem 1rem;
}

fieldset {
  border: none;
}

legend {
  color: var(--gray-color-950);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: var(--gray-color-900);
}

button {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color-500);
  color: var(--background-color);
  border: none;
}

input,
select,
button {
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

input,
select {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--gray-color-900);
  background-color: var(--white-color);
  border: 0.15rem solid var(--gray-color-400);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-color-600);
}

button:active {
  background-color: var(--primary-color-700);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--secondary-color-500);
}

@media (min-width: 1024px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex div:nth-of-type(1) {
    width: calc(70% - 0.5rem);
  }

  .flex div:nth-of-type(2) {
    width: calc(30% - 0.5rem);
  }
}
