<form
  method="post"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="form-spacing"
>
  <div>
    <datalist id="platforms">
      <option
        *ngFor="let platform of platforms"
        [value]="platform.name"
      ></option>
    </datalist>
    <label for="platform">Selecciona la plataforma</label>
    <input list="platforms" id="platform" formControlName="platformName" />
  </div>
  <div>
    <label for="value">Valor transferido</label>
    <input type="text" id="value" formControlName="value" />
  </div>
  <div>
    <label for="amount">Cantidad</label>
    <select id="amount" formControlName="amount">
      <option *ngFor="let number of numbers" [value]="number">
        {{ number }}
      </option>
    </select>
  </div>
  <button type="submit">Enviar</button>
</form>
