form {
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 0.8rem;
  padding: 1.25rem 1rem;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.05rem;
  margin-bottom: 0.25rem;
  color: var(--label-color);
}

button {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--background-color);
}

input,
select,
button {
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  border: 0.15rem solid;
}

input,
select {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--input-color);
  background-color: var(--white-color);
  border-color: var(--input-border-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--darker-primary-color);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--input-border-color-focus);
}

@media (min-width: 1024px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex div:nth-of-type(1) {
    width: calc(70% - 0.5rem);
  }

  .flex div:nth-of-type(2) {
    width: calc(30% - 0.5rem);
  }
}
