/* You can add global styles to this file, and also import other style files */
:root {
  /* -- colors */
  /* lavendar by https://aicolors.co/ */
  --primary-100: #8b5fbf;
  --primary-200: #61398f;
  --primary-300: #ffffff;
  --accent-100: #d6c6e1;
  --accent-200: #9a73b5;
  --text-100: #4a4a4a;
  --text-200: #878787;
  --bg-100: #f5f3f7;
  --bg-200: #e9e4ed;
  --bg-300: #ffffff;
  --bg: var(--bg-100);
  --black: #0f0f0f;
  /* -- measures -- */
  --login-footer-h: 12rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
p {
  color: var(--text-100);
}

label {
  display: block;
  font-size: 1.6rem;
  color: var(--text-200);
}

input,
select {
  color: var(--text-100);
}

button {
  color: var(--bg);
  background-color: var(--primary-100);
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  transition-duration: 105ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

input,
select {
  padding: 1rem 0.6rem;
  border: 2px solid var(--text-200);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

input,
select,
button {
  font-family: inherit;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  color: var(--text-100);
  border-bottom: 2px solid var(--accent-100);
}

tbody {
  color: var(--text-100);
  font-size: 0.9rem;
}

th,
td {
  text-align: left;
  padding: 0.8rem 1.2rem;
}

tbody tr:nth-child(even) {
  background-color: var(--gray-color-100);
}

tbody tr:hover {
  background-color: var(--gray-color-300);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.shadow {
  box-shadow: 0 0 1rem #00000055;
}

.background-gradient {
  background: linear-gradient(to bottom, var(--bg) 80%, var(--bg-200));
}
