#calendars {
  margin: auto;
  margin-top: -2.5rem;
  height: 2.5rem;
}

#calendars form {
  display: flex;
  justify-content: space-around;
}

#calendars form * {
  font-family: inherit;
  font-size: 0.75rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.2rem;
  width: 200px;
  border: 0.15rem solid #124c59;
}

button {
  font-weight: 600;
  background-color: #f7f7f7;
  color: #298296;
}

button:hover {
  cursor: pointer;
  background-color: #298296;
  color: #f7f7f7;
}

#calendars,
#transfers {
  width: 80%;
  max-width: 840px;
}

#transfers {
  box-shadow: 0 0 0.6rem 0.2rem #77777740;
  background-color: #ffffff;
  border-radius: 0.25rem;
  margin: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead {
  color: #3f3f3f;
  border-bottom: 2px solid #124c59;
}

tbody {
  color: #2f2f2f;
  font-size: 0.9rem;
}

th,
td {
  text-align: left;
  padding: 0.8rem 1.2rem;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr:hover {
  background-color: #dfdfdf;
}

td:nth-of-type(3)::before {
  content: "$";
}
