#calendars {
  margin: auto;
  margin-top: -2.5rem;
  height: 2.5rem;
}

#calendars,
#transfers,
hr {
  width: 80%;
  max-width: 840px;
}

#transfers {
  box-shadow: var(--shadow);
  background-color: var(--white-color);
  border-radius: 0.25rem;
  margin: auto;
}

hr {
  margin: 2rem auto;
  border: 1px solid var(--gray-color-300);
}
