fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 0;
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: var(--label-color);
}

button {
  color: var(--background-color);
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
}

input {
  background-color: var(--white-color);
  font-size: 0.9rem;
  color: var(--input-color);
  border: none;
  border-bottom: 2px solid var(--light-gray-color);
}

input,
button {
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: var(--darker-primary-color);
}

input:focus,
input:valid {
  outline: none;
  border-color: var(--primary-color);
}

.input-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-password a {
  display: block;
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
