<form role="form" class="form" [formGroup]="form" (ngSubmit)="emitOnSubmit()">
  <datalist id="transactions">
    <option
      *ngFor="let transaction of transactions"
      [value]="transaction.description"
    >
      {{ transaction.description }}
    </option>
  </datalist>
  <div class="control">
    <label for="update-description">Nota</label>
    <input
      list="transactions"
      id="update-description"
      class="input"
      formControlName="description"
      autocomplete="off"
    />
  </div>
  <div class="control">
    <label for="update-type">Tipo</label>
    <select id="update-type" class="input" formControlName="type">
      <option value="DEPOSIT">Depósito</option>
      <option value="WITHDRAWAL">Retiro</option>
    </select>
  </div>
  <div class="control">
    <label for="update-value">Valor</label>
    <input
      type="text"
      id="update-value"
      class="input"
      formControlName="value"
      autocomplete="off"
      appCurrencyFormat
    />
  </div>
  <div class="control">
    <label for="update-commission">Adicional</label>
    <input
      type="text"
      id="update-commission"
      class="input"
      formControlName="commission"
      autocomplete="off"
      appCurrencyFormat
    />
  </div>
  <div class="control">
    <label for="update-date">Hora</label>
    <input type="time" id="update-date" class="input" formControlName="date" />
  </div>
  <div class="control">
    <label for="temp-code">Código</label>
    <input
      type="password"
      id="temp-code"
      class="input"
      formControlName="tempCode"
      autocomplete="off"
    />
  </div>
  <input type="submit" value="submit" class="sr-only" />
</form>
