<div class="table">
  <table>
    <thead>
      <tr>
        <th class="w-20">ID</th>
        <th>Nota</th>
        <th>Valor</th>
        <th>Descuenta</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses()">
        <td>{{ expense.id }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.value | currency : "symbol" : "$" : "0.00" }}</td>
        <td>{{ expense.discount ? "Aplica" : "-" }}</td>
        <td>{{ expense.createdDate | date : "HH:mm" }}</td>
      </tr>
    </tbody>
  </table>
</div>
