<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-spacing">
  <div>
    <label for="terminal">Terminal</label>
    <input
      type="text"
      id="terminal"
      placeholder="Ingresa el número de terminal"
      formControlName="username"
      required
    />
    <strong *ngIf="hasError('username', 'required')"
      >El terminal es requerido.</strong
    >
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input
      type="password"
      id="password"
      placeholder="******"
      formControlName="password"
      required
    />
    <strong *ngIf="hasError('password', 'required')"
      >La contraseña es requerida.</strong
    >
  </div>
  <button type="submit">Ingresar al portal</button>
</form>
