<header
  class="relative py-10 px-12 w-full border-t-0 border-b-2 border-x-2 border-violet-100 bg-violet-100 rounded-bl-3xl rounded-br-3xl"
>
  <h2 class="uppercase text-3xl font-medium text-gray-700 mb-5">
    Panel de Estadísticas
  </h2>
  <div class="flex items-center justify-between gap-7">
    <app-header-stat-card
      stat="Saldo Total"
      [value]="dashboard()?.totalBalance ?? 0"
      color="green"
    />
    <app-header-stat-card stat="Saldo en Caja" [value]="0" color="gray" />
    <app-header-stat-card stat="Ganancias" [value]="0" color="green" />
    <app-header-stat-card stat="Transacciones" [value]="0" color="violet" />
  </div>
</header>
