<app-header-title
  hTitle="Usuarios"
  hDescription="Aquí podrás administrar todo tipo de usuarios vinculados con la empresa mediante roles"
/>
<section class="mt-10">
  <div class="px-5 pt-5 pb-6 bg-white rounded-lg drop-shadow-lg">
    <h3 class="text-2xl text-gray-700 font-medium mb-3">
      Listado de usuarios registrados
    </h3>
    <div class="flex flex-col gap-3">
      <div class="flex items-center justify-between">
        <app-filter-by-role />
        <app-button type="button" (click)="showSideBarRegister.set(true)">
          Añadir usuario
        </app-button>
      </div>
      <div class="divider"></div>
      <app-filter-by-enabled />
      <app-spinner *ngIf="loading()" />
      <div class="overflow-x-auto">
        <app-users-table
          *ngIf="!loading()"
          (onEdit)="showSideBarUpdate.set(true)"
        />
      </div>
    </div>
  </div>
</section>
<app-sidebar
  headline="Nuevo usuario"
  [showSideBar]="showSideBarRegister"
  actionName="Registrar"
  mode="register"
  [loading]="userToRegisterLoading()"
  (onSubmit)="newUserForm.emitOnComplete()"
>
  <app-new-user-form (onComplete)="this.showSideBarRegister.set(false)" />
</app-sidebar>
<app-sidebar
  headline="Usuario existente"
  [showSideBar]="showSideBarUpdate"
  actionName="Actualizar"
  mode="update"
  [loading]="userToUpdateLoading()"
  (onSubmit)="updateUserForm.emitOnComplete()"
>
  <app-update-user-form (onComplete)="showSideBarUpdate.set(false)" />
</app-sidebar>
