<form [formGroup]="form" (ngSubmit)="emitOnSubmit()">
  <app-fieldset legend="Registrar consignación a plataforma">
    <div class="control">
      <label for="paymentPlatform">Plataforma</label>
      <select id="paymentPlatform" class="input" formControlName="platformId">
        <option value="-1" disabled>Selecciona una plataforma</option>
        <option *ngFor="let platform of platforms" [value]="platform.id">
          {{ platform.name }}
        </option>
      </select>
    </div>
    <div class="control">
      <label for="paymentValue">Valor</label>
      <input
        type="text"
        id="paymentValue"
        class="input"
        formControlName="value"
        placeholder="Ej: $5.000.000"
        autocomplete="off"
        appCurrencyFormat
      />
    </div>
    <app-button type="submit" [loading]="loading">Registrar</app-button>
  </app-fieldset>
</form>
