<div class="flex items-center justify-center" role="status">
  <div
    class="bg-gradient-to-t to-violet-700 via-stone-50 rounded-full animate-spin flex justify-center items-center"
    [ngClass]="{
      'from-white': background === 'white',
      'from-body': background === 'body',
      'size-52': big,
      'size-14': !big
    }"
  >
    <div
      class="rounded-full"
      [ngClass]="{
        'bg-white': background === 'white',
        'bg-body': background === 'body',
        'size-44': big,
        'size-11': !big
      }"
    ></div>
  </div>
</div>
